<app-nav-bar></app-nav-bar>
<app-side-bar></app-side-bar>

<div class="cont">
    <h2>Image Gallery With Horizontal Scroll</h2>
    <p>Use the horizontal scrollbar to see the other images.</p>
    
   
    <h1>2018 Ford GT</h1>
    <div class="inline">
        
        <div class="scroll-container">
            
            <img src="https://res.cloudinary.com/dmdnmg8zs/image/upload/v1722289863/ford-gt_0_qoem5q.webp" alt="Cinque Terre" width="600" height="400">
            <img src="https://res.cloudinary.com/dmdnmg8zs/image/upload/v1722289865/ford-gt-front-end-2_crsuw1.webp" alt="Forest" width="600" height="400">
            <img src="https://res.cloudinary.com/dmdnmg8zs/image/upload/v1722289867/ford-gt-rear-1_b02rxu.webp" alt="Northern Lights" width="600" height="400">
            <img src="https://res.cloudinary.com/dmdnmg8zs/image/upload/v1722289868/ford-gt-rear-end-3_nftkhi.webp" alt="Mountains" width="600" height="400">
          </div>
          <div class="info">
            <div class="price">
                <h3>Buy Car Online</h3>
                <div class="pr">
                    Price: 
                </div>
                <p>Finance is available</p>
            </div>
          </div>
    </div>
</div>