.cont {
    display: flex;
    height: 10%;
    width: 100%;
    background-color: black;
    position: relative;
    
}
.login{
    right: 0;
    position: absolute;
}
button {
    color: ghostwhite;
    background-color: black;
}
