<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Models</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/add-product">Sell</a>
          </li>
          <a class="navbar-brand" href="/"><img class="logo" src="https://res.cloudinary.com/dmdnmg8zs/image/upload/v1722344032/KG-Auto_h9kvlw.png" alt=""></a>
          <li class="nav-item">
            <a class="nav-link active login" href="sign-in">Sign in</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>