    .login {
    right: 1%;
    position: absolute;
}

.logo {
    max-width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    //margin-left: 10%;
    position: absolute;
    place-content: center;
    left: 45%;
    //top: 0;
    bottom: -16%;
}
.navbar {
    position: absolute;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    top: 0;
}
.navbar-toggler {
    position: absolute;
    right: 0;
    top: 0;
}