    .login {
    right: 0;
    position: absolute;
}

.logo {
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-left: 10%;
    //position: absolute;
}

