<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<app-nav-bar></app-nav-bar>
<div class="container col-12">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading"style="background-color: black; ">
          <h3 class="panel-title" >Sell Your Car<small></small></h3>
        </div>
        <div class="panel-body">
          <form role="form" [formGroup]="carForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                  formControlName="make"
                    type="text"
                    name="make"
                    id="make"
                    class="form-control input-sm"
                    placeholder="Make"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    formControlName="model"
                    type="text"
                    name="model"
                    id="model"
                    class="form-control input-sm"
                    placeholder="Model"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    formControlName="year"
                    type="text"
                    name="year"
                    id="year"
                    class="form-control input-sm"
                    placeholder="Year"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    formControlName="color"
                    type="text"
                    name="color"
                    id="color"
                    class="form-control input-sm"
                    placeholder="Color"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <input
                formControlName="vin"
                type="text"
                name="vin"
                id="vin"
                class="form-control input-sm"
                placeholder="Vin"
                autocomplete="on"
                required
              />
            </div>
            <div class="form-group">
              <textarea
                formControlName="description"
                type="text"
                name="description"
                id="description"
                class="form-control input-sm"
                placeholder="Vehicle Description"
                autocomplete="on"
                required
              ></textarea>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    formControlName="milage"
                    type="milage"
                    name="milage"
                    id="password"
                    class="form-control input-sm"
                    placeholder="Milage"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    formControlName="body"
                    type="text"
                    name="body"
                    id="body"
                    class="form-control input-sm"
                    placeholder="Body"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    formControlName="transmission"
                    type="text"
                    name="transmission"
                    id="transmission"
                    class="form-control input-sm"
                    placeholder="Trasmission"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    formControlName="fuel"
                    type="text"
                    name="fuel"
                    id="fuel"
                    class="form-control input-sm"
                    placeholder="Fuel"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    formControlName="drive"
                    type="text"
                    name="drive"
                    id="drive"
                    class="form-control input-sm"
                    placeholder="Drive"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    formControlName="price"
                    type="text"
                    name="price"
                    id="price"
                    class="form-control input-sm"
                    placeholder="Price"
                    autocomplete="on"
                    required
                  />
                </div>
              </div>
              <div class="container mt-5">
                <div class="row">
                  <div class="card">
                    <div class="card-header">
                      <h2>Image:1</h2>
                    </div>
                    <div class="card-body">
                      <div class="example-container">
                        <form novalidate enctype="multipart/form-data">
                          <div class="form-group">
                            <label for="image" class="form-label">Select Image</label>
                            <input type="file" id="image" class="form-control mb-3" (change)="onFileChange($event)" accept="image/png, image/jpeg, image/jpg, image/gif">
                          </div>
          
                          <!-- Display the currently selected or existing profile picture -->
                          <div class="form-group">
                            <div *ngIf="imageUrl; else noImage">
                              <div>
                                <img class="img-thumbnail" [src]="imageUrl" style="max-width: 100px" alt="image1">
                              </div>
                            </div>
                            <ng-template #noImage>
                              <p>No image selected</p>
                            </ng-template>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              
              <ng-template #noImagesFound>
                <div class="col-xs-12">
                  <p>No images found.</p>
                </div>
              </ng-template>

              <div class="container mt-5">
                <div class="row">
                  <div class="card">
                    <div class="card-header">
                      <h2>Image: 2</h2>
                    </div>
                    <div class="card-body">
                      <div class="example-container">
                        <form novalidate enctype="multipart/form-data">
                          <div class="form-group">
                            <label for="image" class="form-label">Select image</label>
                            <input type="file" id="image" class="form-control mb-3" (change)="onFileChange($event)" accept="image/png, image/jpeg, image/jpg, image/gif">
                          </div>
          
                          <!-- Display the currently selected or existing profile picture -->
                          <div class="form-group">
                            <div *ngIf="imageUrl; else noImage">
                              <div>
                                <img class="img-thumbnail" [src]="imageUrl" style="max-width: 100px" alt="image2">
                              </div>
                            </div>
                            <ng-template #noImage>
                              <p>No image selected</p>
                            </ng-template>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              
              <ng-template #noImagesFound>
                <div class="col-xs-12">
                  <p>No images found.</p>
                </div>
              </ng-template>

              <div class="container mt-5">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h2>Image: 3</h2>
          </div>
          <div class="card-body">
            <div class="example-container">
              <form novalidate enctype="multipart/form-data">
                <div class="form-group">
                  <label for="image" class="form-label">Select Image</label>
                  <input type="file" id="image" class="form-control mb-3" (change)="onFileChange($event)" accept="image/png, image/jpeg, image/jpg, image/gif">
                </div>

                <!-- Display the currently selected or existing profile picture -->
                <div class="form-group">
                  <div *ngIf="imageUrl; else noImage">
                    <div>
                      <img class="img-thumbnail" [src]="imageUrl" style="max-width: 100px" alt="image3">
                    </div>
                  </div>
                  <ng-template #noImage>
                    <p>No image selected</p>
                  </ng-template>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <ng-template #noImagesFound>
      <div class="col-xs-12">
        <p>No images found.</p>
      </div>
    </ng-template>

    <div class="container mt-5">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h2>Image: 4</h2>
          </div>
          <div class="card-body">
            <div class="example-container">
              <form novalidate enctype="multipart/form-data">
                <div class="form-group">
                  <label for="image" class="form-label">Select Image</label>
                  <input type="file" id="image" class="form-control mb-3" (change)="onFileChange($event)" accept="image/png, image/jpeg, image/jpg, image/gif">
                </div>

                <!-- Display the currently selected or existing profile picture -->
                <div class="form-group">
                  <div *ngIf="imageUrl; else noImage">
                    <div>
                      <img class="img-thumbnail" [src]="imageUrl" style="max-width: 100px" alt="image4">
                    </div>
                  </div>
                  <ng-template #noImage>
                    <p>No image selected</p>
                  </ng-template>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <ng-template #noImagesFound>
      <div class="col-xs-12">
        <p>No images found.</p>
      </div>
    </ng-template>

    <div class="container mt-5">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h2>Image: 5</h2>
          </div>
          <div class="card-body">
            <div class="example-container">
              <form novalidate enctype="multipart/form-data">
                <div class="form-group">
                  <label for="image" class="form-label">Select Image</label>
                  <input type="file" id="image" class="form-control mb-3" (change)="onFileChange($event)" accept="image/png, image/jpeg, image/jpg, image/gif">
                </div>

                <!-- Display the currently selected or existing profile picture -->
                <div class="form-group">
                  <div *ngIf="imageUrl; else noImage">
                    <div>
                      <img class="img-thumbnail" [src]="imageUrl" style="max-width: 100px" alt="image5">
                    </div>
                  </div>
                  <ng-template #noImage>
                    <p>No image selected</p>
                  </ng-template>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <ng-template #noImagesFound>
      <div class="col-xs-12">
        <p>No images found.</p>
      </div>
    </ng-template>

    <div class="container mt-5">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h2>Image: 6</h2>
          </div>
          <div class="card-body">
            <div class="example-container">
              <form novalidate enctype="multipart/form-data">
                <div class="form-group">
                  <label for="image" class="form-label">Select Image</label>
                  <input type="file" id="image" class="form-control mb-3" (change)="onFileChange($event)" accept="image/png, image/jpeg, image/jpg, image/gif">
                </div>

                <!-- Display the currently selected or existing profile picture -->
                <div class="form-group">
                  <div *ngIf="imageUrl; else noImage">
                    <div>
                      <img class="img-thumbnail" [src]="imageUrl" style="max-width: 100px" alt="image6">
                    </div>
                  </div>
                  <ng-template #noImage>
                    <p>No image selected</p>
                  </ng-template>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <ng-template #noImagesFound>
      <div class="col-xs-12">
        <p>No images found.</p>
      </div>
    </ng-template>

            </div>

            <button
              type="submit"
              class="btn btn-info btn-block"
              id="submit"
              (click)="submitCar()"
              style="background-color: black; height: 4rem;"
            >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
