<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading"style="background-color: black; ">
          <h3 class="panel-title" >Sell Your Car<small></small></h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                  [(ngModel)]="make"
                    type="text"
                    name="make"
                    id="make"
                    class="form-control input-sm"
                    placeholder="Make"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="model"
                    type="text"
                    name="model"
                    id="model"
                    class="form-control input-sm"
                    placeholder="Model"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="year"
                    type="text"
                    name="year"
                    id="year"
                    class="form-control input-sm"
                    placeholder="Year"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="color"
                    type="text"
                    name="color"
                    id="color"
                    class="form-control input-sm"
                    placeholder="Color"
                    autocomplete="on"
                  />
                </div>
              </div>
            </div>

            <div class="form-group">
              <input
                [(ngModel)]="vin"
                type="text"
                name="vin"
                id="vin"
                class="form-control input-sm"
                placeholder="Vin"
                autocomplete="on"
              />
            </div>
            <div class="form-group">
              <textarea
                [(ngModel)]="description"
                type="text"
                name="description"
                id="description"
                class="form-control input-sm"
                placeholder="Vehicle Description"
                autocomplete="on"
              ></textarea>
            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="milage"
                    type="milage"
                    name="milage"
                    id="password"
                    class="form-control input-sm"
                    placeholder="Milage"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="body"
                    type="text"
                    name="body"
                    id="body"
                    class="form-control input-sm"
                    placeholder="Body"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="transmission"
                    type="text"
                    name="transmission"
                    id="transmission"
                    class="form-control input-sm"
                    placeholder="Trasmission"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="fuel"
                    type="text"
                    name="fuel"
                    id="fuel"
                    class="form-control input-sm"
                    placeholder="Fuel"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="drive"
                    type="text"
                    name="drive"
                    id="drive"
                    class="form-control input-sm"
                    placeholder="Drive"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="price"
                    type="text"
                    name="price"
                    id="price"
                    class="form-control input-sm"
                    placeholder="price"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="image1"
                    type="text"
                    name="image1"
                    id="image1"
                    class="form-control input-sm"
                    placeholder="Image1"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="image2"
                    type="text"
                    name="image2"
                    id="image2"
                    class="form-control input-sm"
                    placeholder="Image2"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="image3"
                    type="text"
                    name="image3"
                    id="image3"
                    class="form-control input-sm"
                    placeholder="Image3"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="image4"
                    type="text"
                    name="image4"
                    id="image4"
                    class="form-control input-sm"
                    placeholder="Image4"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="image5"
                    type="text"
                    name="image5"
                    id="image5"
                    class="form-control input-sm"
                    placeholder="Image5"
                    autocomplete="on"
                  />
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <input
                    [(ngModel)]="image6"
                    type="text"
                    name="image6"
                    id="image6"
                    class="form-control input-sm"
                    placeholder="Image6"
                    autocomplete="on"
                  />
                </div>
              </div>
            </div>

            <button
              type="button"
              class="btn btn-info btn-block"
              id="submit"
              (click)="submitCar()"
              style="background-color: black; height: 4rem;"
            >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
