.container {
    background-color: ghostwhite;
   padding: 100px;
   padding-bottom: 50px;
}

button {
    background-color: black;
    width: 60%;
    color: ghostwhite;
    margin: 20% auto;
    display: block;
    margin-bottom: 0;
    border: none;
}