.cont {
    margin: 5%;
    overflow: hidden;
}
.col-4 {
    background-color: black;
    margin: 10% auto;
    position: relative;
    color: ghostwhite;
}
img {
    height: 60%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    margin-top: 10%;
    border-radius: 5px;
}
input {
    width: 80%;
    height: 2rem;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 1%;
}
label{
    margin-left: 10%;
    margin-top: 5%;
    font-size: larger;
}

p {
    text-align: right;
    margin: 3% 5%;
}
button {
    border-radius: 20px;
    background-color: ghostwhite;
    color: goldenrod;
    width: 5rem;
    height: 2.5rem;
    display:flex;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    justify-content: center;
    align-items: center;
    
}