<app-nav-bar></app-nav-bar>



<div class="cont">
    <div class="hero-sec">
        <h1>Born to Perform</h1>
        <h1>Premium Muscle Cars for the Bold!</h1>
    </div>
    <h1>Available Cars</h1>
    <div id="products"  class="products">
        
            <div *ngFor="let item of Cars" class="card" >
                <img src="{{item.image1}}">
                <h3> {{item.year}} {{item.make}} {{item.model}} </h3>
                <p class="desc">{{item.description}}</p>
                <div class="inline">
                    <button [routerLink]="['/car-details', item.id]" >More info...</button>
                    <div class="price">
                        <p>Price:</p>
                        <p>R{{item.price}} </p>
                    </div>
                </div>
                
                <hr>
                <div class="sym">
                    <div class="symbols">
                    <p class="symbol">&#x26FD;</p>
                    <p class="symbol"><img class="tran" src="./assets/Simple-transmission-shift-logo-car-icon-Graphics-31035479-2-312x208.png" alt=""></p>
                <p class="symbol"><img class="dash" src="./assets/dashboard.png" alt=""></p>
                
                </div>
                <div class="stats">
                    <p>{{item.tankSize}} Litres </p>
                    <p>{{item.transmission}}</p>
                    <p>{{item.millage}}km</p>
                </div>
                </div>
                
                
            </div>
        
        
    </div>
    <div class="foot">
        <app-footer></app-footer>
    </div>

</div>
