<app-nav-bar></app-nav-bar>
<app-side-bar></app-side-bar>


<div class="cont">
    <div class="hero-sec">
        <h1>Born to Perform</h1>
        <h1>Premium Muscle Cars for the Bold!</h1>
    </div>
    <h1>Available Cars</h1>
    <div  class="products">
        
        <div *ngFor="let item of Cars" class="card">
            <img src="{{item.image}}">
            <h3> {{item.year}} {{item.make}} {{item.model}} </h3>
            <p>{{item.desc}}</p>
            <div class="price">
                <p>Price:</p>
                <p>R{{item.price}} </p>
            </div>
            <hr>
            <div class="symbols">
                <p class="symbol">&#x26FD;</p>
            <p class="symbol"><img class="dash" src="./assets/dashboard.png" alt=""></p>
            </div>
            
        </div>
    </div>
    <div class="foot">
        <app-footer></app-footer>
    </div>

</div>
